{
  "deploymentTarget": "north-america-staging",
  "runtimeEnvironment": "staging",
  "productApiBaseUrl": "TBD",
  "agentApiBaseUrl": "TBD",
  "androidApplicationId": "com.momcozy.mai",
  "iosBundleId": "TBD"
}
