{
  "deploymentTarget": "north-america-staging",
  "runtimeEnvironment": "staging",
  "productApiBaseUrl": "https://backend-us-dev.lute-momcozylab.luteos.cloud",
  "agentApiBaseUrl": "https://agent-us-dev.lute-momcozylab.luteos.cloud",
  "androidApplicationId": "com.momcozy.mai",
  "iosBundleId": "TBD"
}
